{% extends 'base/base.html' %} {% block content %} {% load static %}

<div class="container">
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="row">
    <div class="col-md-4">
      <img
        src="{% static 'base/images/' %}{{ book.id }}.jpg"
        alt="book image"
        class="book-cover-details"
      />
    </div>
    <div class="col-md-6">
      <h1 class="book-title">{{book.Title}}</h1>
      <p class="book-author">By <u>{{book.Author}}</u></p>
      <p>{{book.Description}}</p>
      <a class="button" href="{% url 'extaddreadaction' book.id %}"
      >Add Read Action</a
      >
      {% if user.is_staff %}
      <form method="POST" action="{% url 'delete_book' book.id %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete" />
        <a class="button" href="{% url 'edit_book' book.id %}"
        ><i class="bi bi-pencil"></i
          ></a>
          <button type="submit" class="button">
            <i class="bi bi-trash3"></i></button
            ><br /><br />
          </form>
          {% endif %}
          <p class="book-info">
            {{book.NumberOfPages}} pages<br />
            {% if read_count == 1 %}
            {{read_count}} Person has read this book<br />
            {% else %}
            {{read_count}} People have read this book<br />
        <i class="bi bi-star-fill" style="color: red"></i>Average score: {{average_score }}<br />
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
