{% extends 'base/base.html' %} {% block content %}
<div class="container">
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container">
        <input type="text" class="form-control" value="{{book.Title}}" disabled>
        <form method="post" class="mx-auto">
          {% csrf_token %} {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id }}" class="form-label d-block"
              >{{ field.label }}</label
            >
            {{ field }} {{ field.errors }} {% if field.name == 'Date' %}
            <small class="text-muted">Format: YYYY-MM-DD</small>
            {% endif %}

          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Add ReadAction</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
