{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- User information -->
            <h1>User information</h1>
            {% for user in userprofile %}
            <p>{{user.user}}</p>
            <p>{{user.BioText}}</p>
            <p>{{user.City}}</p>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <!-- Other content -->
            <h1>Welcome to the Book Club!</h1>
            <div>
                <hr>
                <div class="row">
                    <div class="col-md-6 book">
                        <h2><i class="bi bi-book-half"></i> News Feed</h2>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <a href={% url 'addreadaction' %} class="icon-text"><i class="bi bi-plus-circle-fill"></i> Add a
                            new read action</a>
                    </div>
                    {% for feed in news_feed|slice:":4" %}
                    <div class="col-md-3">
                        <img src="{% static 'base/images/' %}{{ feed.Book.id }}.jpg" alt="book image" class="no-link-book-cover">
                        <p><strong>User:</strong> {{feed.User}}</p>
                        <p><strong>Score:</strong>{{feed.Score}}</p>
                    </div>
                    {% endfor %}
                    <div class="col-md-12 text-center">
                        <a href={% url 'newsfeed' %} class="icon-text">VIEW NEWS FEED</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 book">
                        <h2><i class="bi bi-book-half"></i> All Books</h2>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <a href={% url 'addnewbook' %} class="icon-text"><i class="bi bi-plus-circle-fill"></i> Add a new book</a>
                    </div>
                    {% for book in books|slice:":4" %}
                    <div class="col-md-3">
                        <a class="icon-text" href="{% url 'book_detail' book.id %}">
                            <img src="{% static 'base/images/' %}{{ book.id }}.jpg" alt="book image" class="book-cover">
                            <p>{{book.Title}}</p>
                        </a>
                    </div>        
                    {% endfor %}
                    <div class="col-md-12 text-center">
                        <a href={% url 'books' %} class="icon-text">VIEW ALL BOOKS</a>

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 book">
                        <h2><i class="bi bi-book-half"></i> My Reads</h2>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <a href={% url 'addreadaction' %} class="icon-text"><i class="bi bi-plus-circle-fill"></i> Add a
                            new read action</a>
                    </div>
                    {% for read in readactions|slice:":4" %}
                    <div class="col-md-3">
                        <p><strong>Book:</strong> {{read.Book}}</p>
                        <p><strong>Date:</strong> {{read.Date}}</p>
                        <p><strong>Score:</strong> {{read.Score}}</p>
                    </div>
                    {% endfor %}
                    <div class="col-md-12 text-center">
                        <a href={% url 'myreadactions' %} class="icon-text">VIEW ALL MY READ ACTIONS</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}