{% extends 'base/base.html' %}

{% block content %}

{% load static %}

<div class="container">
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="row">
    {% for i in read_actions %}
    <div class="container">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-4">
          <img src="{% static 'base/images/' %}{{ i.Book.id }}.jpg" alt="book image" class="book-cover-details">
        </div>
        <div class="col-md-6">
          <h1 class="book-title">{{i.Book.Title}}</h1>
          <p class="book-author">By <u>{{i.Book.Author}}</u></p>
          <p>{{i.Book.Description}}</p>
          <form method="POST" action="{% url 'delete_readaction' i.pk %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete">
            <a class="button" href="{% url 'edit_readaction' i.pk %}"><i class="bi bi-pencil"></i></a>
            <button type="submit" class="button"><i class="bi bi-trash3"></i></button><br><br>
          </form>
          <p><i class="bi bi-star-fill" style="color:red;"></i>Your Given score: {{ i.Score }}<br></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock%}