{% extends 'base/base.html' %}

{% block content %}
{% load static %}

  <div class="container">
    <h3> News Feed </h3>
    <p> Below are the latest book scores of all our members: </p>
    <div class="row">
      {% for read in read_actions %}
              <div class="col-md-3">
                <a class="icon-text" href="{% url 'book_detail' read.Book.id %}">
                    <img src="{% static 'base/images/' %}{{ read.Book.id }}.jpg" alt="book image" class="book-cover"><br>
                    <strong>Date:</strong> {{read.Date}}<br>
                    <strong>Score:</strong> {{read.Score}}<br>
                    <a href="{% url 'user_profile' read.User.pk %}"><p><strong>User:</strong> {{read.User}}</a>

                </a>
              </div> 
      {% endfor %}    
    </div>
  </div>
{% endblock %}
