{% extends 'base/base.html' %}

{% block content %}
{% load static %}
<div class="container">
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}

    <div class="row justify-content-center">
      {% for i in userprofile %}
        <div class="col-md-6 mb-4">
          <div class="text-center">
            <h5>{{ i.user }}</h5>

            {{ i.BioText }}
            <br>  
            <br>
            <div class="row">
              <div class="col-sm-6">
                <small>location</small>
                <br>
                {{ i.City }}
              </div>
              <div class="col-sm-6 border-left">
                <small>Books read</small>
                <br>
                {{reads.count}}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="text-center">
            <hr>
            <div class="row">
              {% for read in reads %}
              <div class="col-md-3">
                <a class="icon-text" href="{% url 'book_detail' read.Book.id %}">
                    <img src="{% static 'base/images/' %}{{ read.Book.id }}.jpg" alt="book image" class="book-cover"><br>
                    <strong>Date:</strong> {{read.Date}}<br>
                    <strong>Score:</strong> {{read.Score}}</p>
                </a>
              </div>                      

              {% endfor %}
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
