{% extends 'base/base.html' %} 
{% block content %}
<div class="container">
  {% if messages %} 
    {% for message in messages %}
      <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}" role="alert">
        {{ message }}
      </div>
    {% endfor %} 
  {% endif %}
  <div class="row">
    {% for book in books %}
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ book.Title }}</h5>
            <p class="card-text">
              <strong>Author:</strong> {{ book.Author }}<br />
              <strong>Genre:</strong> {{ book.Genre }}<br />
              <strong>Number of Pages:</strong> {{ book.NumberOfPages }}<br />
            </p>
            {% if not book.approved %}
              <form action="{% url 'approve_book' book.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.pk }}">
                <button type="submit" name="action" value="approve">Approve</button>
                <button type="submit" name="action" value="deny">Deny</button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}