:root {
  --primary-color: #635985;
  --secondary-color: #443C68;
  --tertiary-color: #393053;
  --dark-color: #18122B;
}
.nav-link{
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 15px;

}
p, a{
  font-family: 'Chivo Mono', monospace;
  color: var(--dark-color);
}

a:hover{
  color: var(--dark-color);
}

.dropdown-item{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.dropdown-icon{
  font-size: 20px !important;
  font-weight: 900;
  color:blue !important; 
}
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}


.dropdown.show .dropdown-menu {
  animation: fade-in 0.5s ease-in-out forwards;
}

.search-bar
{
  margin-left: 50%;
}

/* form styling */
.form-label {
  color: var(--primary-color);
}

.form-control{
  color: #4E4C97;
  background: #F7F8F9;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 5px;
  border: 2px solid #F2F5F6;
  box-shadow: none;
}

.form-control:focus{
  border-color: var(--primary-color);
  box-shadow: none;
}
.form-container{
  background-color: #fff;
  font-family: 'Chivo Mono', monospace;
  border-radius: 10px;
  box-shadow: 0 0 25px -15px var(--dark-color);
  position: relative;
  padding: 2rem;
}
.form-container:before,
.form-container:after{
  content: '';
  background-color: #4E4C97;
  height: 50%;
  width: 4px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.form-container:after{
  left: auto;
  right: 10px;
  top: auto;
  bottom: 10px;
}



.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-color);
}

/* card styling (see All Books Page for example ) */

.card-title {
  color: var(--primary-color);
}

.card-text strong {
  color: var(--dark-color);
}

.icon-text, .icon-text:hover {
  text-decoration: none;
  color: var(--primary-color) ;
}

.book-cover {
  height: 300px;
  object-fit: contain;
  max-width: 100%;
}
.book-cover-details{
  height: 500px;
  max-width: 100%;
}

.no-link-book-cover {
  height: 300px;
  object-fit: contain;
  max-width: 100%;
}

.book-cover:hover{
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.book{
  padding-bottom: 5%;
}
.title{
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.book-title{
  font-family: "Merriweather Light,serif";
  font-size: 30px;
  letter-spacing: -.02em;
  line-height: 160%;
  margin: 0 0 10px;
}

.book-author{
    font-family: 'Chivo Mono', monospace;
    font-size: 18px;
    line-height: 148%;
    letter-spacing: .1em;


}

.book-info{
  font-weight: 600;
  font-family: 'Chivo Mono', monospace;
  letter-spacing: .1em;

}
.button{
  background-color: var(--secondary-color);
  border: none;
  color: white;
  font-weight: 700;
  padding: 11px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.button:hover{
  text-decoration: none;
  color: white;
}

.edit-btn {
width: auto;
  
}
