:root {
  --primary-color: #635985;
  --secondary-color: #443C68;
  --tertiary-color: #393053;
  --dark-color: #18122B;
}

/* menu styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: #DEF2f1;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #17252A;
  color: var(--tertiary-color);
}


/* form styling */
.form-label {
  color: var(--primary-color);
}

.form-control {
  background-color: var(--tertiary-color);
  border-color: var(--primary-color);
  color: var(--dark-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-color);
}

.form-container {
  border: 1px solid var(--primary-color);
  padding: 2rem;
  border-radius: 1rem;
}

/* card styling (see All Books Page for example ) */

.card-title {
  color: var(--primary-color);
}

.card-text strong {
  color: var(--dark-color);
}

.icon-text, .icon-text:hover {
  text-decoration: none;
  color: var(--primary-color) ;
}

.book-cover {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
}

.no-link-book-cover {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
}

.book-cover:hover{
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.book{
  padding-bottom: 5%;
}